<% layout("/layouts/boilerplate.ejs") %>
<body>
    <br> <br>
    <h3>Edit Your Listing</h3>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="POST" action="/listings/<%= h_listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="newList[title]"  value="<%= h_listing.title %>" type="text" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="newList[description]"  type="text" class="form-control" required><%= h_listing.description %></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
            
        <div class="mb-3">
            <label for="image" class="form-label">Image link</label>
            <input name="newList[image]" value="<%= h_listing.image %>"  type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid link for image</div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="newList[price]" value="<%= h_listing.price %>"  type="number" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid price</div>
            </div>
               
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="newList[country]" value="<%= h_listing.country %>"  type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter the country name</div>
            </div>
                
        </div>
            
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="newList[location]" value="<%= h_listing.location %>"  type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter the location</div>
        </div>
            
        <br> 
            <button class="btn btn-dark mb-3 add-btn">Edit</button>
    </form>
   </div>
</div>
</body>
